@import './boolean-settings.css';
@import './controls.css';
@import './coordinates.css';
@import './shortcuts.css';
@import './pokeball.css';
@import './speed-limit.css';
@import './speed.css';
@import './total-distance.css';
@import './alerts.css';
@import './autopilot.css';
@import './pokemon.css';
@import './excluded-pokemons.css';

.google-map-container {
  position: relative;
  height: calc(100vh - $navbar-height);
  width: 100vw;

  .btn-drag-map {
    position: absolute;
    bottom: 14px;
    right: 30px;
  }
}
