@import './github-star.css';

.navbar {
  background-color: #273135;
  border-radius: 0;
  color: #89949B;
  height: $navbar-height;
  padding: 10px;
  width: 100vw;

  .block {
    float: left;
    font-size: 12px;

    .title {
      font-weight: bold;
    }
  }

  .tag {
    font-size: 100%;
    margin-top: 3px;
  }
}
